body{
  background-color:#ECDFC8 ;
}
h1,h3{
  color:  #DF7861;
}
hr{
  background-color: #ECDFC8;
  border-style: none;
  border-top-style: dotted;
  border-color:#ECB390;
  border-width:5px;
  width: 5%
}
a{
  color: #ECB390;
}
a:hover{
  color: #FCF8E8
}
